@model eProcurement_PAUP.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Permission.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd>
            @if (Model.Avatar != null && Model.Avatar.Length > 0)
            {
                string imageBase64 = Convert.ToBase64String(Model.Avatar);
                string imageSrc = string.Format("data:image/png;base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Avatar" />
            }
            else
            {
                <span>No avatar</span>
            }
        </dd>

    </dl>
</div>
<div class="text-left">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>
